<div class="row">
    <div class="col-md-4">

        <h3>"All progress takes place outside the comfort zone."</h3>
        <p>Michael John Bobak</p>
    </div>
    <div class="col-md-4">
        <h3>"Stop chasing the money and start chasing the passion."</h3>
        <p> Tony Hsieh</p>
    </div>
    <div class="col-md-4">
        <h3>"If you are not willing to risk the usual, you will have to settle for the ordinary."</h3>
        <p>Jim Rohn</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
<form>

    <div class="form-group">

        <label for="quote">Add your quote here</label>
        <textarea class="form-control" id="quote" rows="3" required></textarea><br>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

    </div>
    <button>Add quote</button>
</form>
</div>
<div class="col-md-3"></div>
</div>


    
    <br>
    <br>
    <br>
    <br>
    <br> <br> <br> <br>  <br> <br>
     <div class="footer">
         <div class="footer-container">
             <ul class="footer-list">
                 <p class="footer-item">contacts: Telephone:-02035672</p>
                 <p class="footer-item">email: lonewolfassassins@gmail.com</p>
                 <p class="footer-item">phone: +254741906738</p> 

             </ul>
      
      <p><small class="footer-copyright">
        <span>&#169;</span>2021 Lone Wolf Assassins.</small></p>
    </div>
    </div> 











